{%- comment -%}
  /**
   *  Product Card
   *
   *  Renders a product card.
   *
   *  @author Brenden Mersey
   *
   *  @usage {%- render "card-product", product: product -%}
   *
   *  @param mixed product object
   *  @return void
   *
   *  @package Shopify
   *  @subpackage molsoft
   */
{%- endcomment -%}

{%- if product and product != empty -%}
  {%- liquid

    assign product_featured_image = product.featured_image | default: false
    assign product_featured_image_hover = product.images[1] | default: false
    assign product_price = product.price
    assign product_promo_badge_colour = ""
    assign product_promo_badge_value = false
    assign product_title = product.title | default: ""
    assign product_url = product.url | default: ""
    assign product_variant_id = product.first_available_variant.id
    assign product_vendor = product.vendor | default: ""

    assign has_hover_image = false

    if product_featured_image_hover and product_featured_image_hover != empty
      assign has_hover_image = true
    endif

    for tag in product.tags
      if tag == "Promo Badge" and tag == product.metafields.promo-badge.name
        assign product_promo_badge_colour = product.metafields.promo-badge.colour | default: "#000000"
        assign product_promo_badge_value = product.metafields.promo-badge.value | default: "Not Set"
        break
      endif
    endfor

  -%}

  <div class="card-product">
    <div class="card-product__container">
      {% if product_promo_badge_value %}
        <div class="card-product__promo-badge" style="background: {{ product_promo_badge_colour }};">{{ product_promo_badge_value }}</div>
      {% endif %}
      <div class="card-product__image">
        <a class="card-product__link{% if has_hover_image %} has-hover-image{% endif %}" href="{{ product_url }}" target="_self" title="{{ product_title }}">
          {% if has_hover_image %}
            {{ product_featured_image_hover | image_url: width: 600 | image_tag: widths: '300, 600', sizes: '(min-width: 400px) 298px, 78.75vw', class: "hover-image" }}
          {% endif %}
          {% if product_featured_image and product_featured_image != empty %}
            {{ product_featured_image | image_url: width: 600 | image_tag: widths: '300, 600', sizes: '(min-width: 400px) 298px, 78.75vw', class: "feature-image" }}
          {% endif %}
        </a>
      </div>
      <div class="card-product__details">
        <div class="card-product__vendor">{{ product_vendor }}</div>
        <strong class="card-product__title">
          <a class="card-product__link" href="{{ product_url }}" target="_self" title="{{ product_title }}">
            {{ product_title }}
          </a>
        </strong>
        <div class="card-product__price">{{ product_price | money }}</div>
      </div>
      <button class="card-product__button-atc" id="add-to-cart--{{ product_variant_id }}" type="button" data-variant-id="{{ product_variant_id }}">Add to Cart</button>
    </div>
  </div>

{%- endif -%}

<script>
(function(){

  const button = document.getElementById(`add-to-cart--{{ product_variant_id | json }}`);

  function addToCart(variantID = 0, quantity = 1) {

    fetch(window.Shopify.routes.root + 'cart/add.js', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        'items': [{
          'id': variantID,
          'quantity': quantity
        }]
      })
    })
    .then(response => {
      return response.json();
    })
    .catch((error) => {
      console.error('Error:', error);
    });

  }

  button.addEventListener("click", () => {
    console.log("clicked!")
  });

})();
</script>
