{%- comment -%}
  /**
   *  Featured Collection
   *
   *  Dynamic Shopify section that displays a collection of products from
   *  from a featured collection.
   *
   *  @author Brenden Mersey
   *
   *  @package Shopify
   *  @subpackage molsoft
   */
{%- endcomment -%}

{{ "featured-collection.css" | asset_url | stylesheet_tag }}
{{ "card-product.css" | asset_url | stylesheet_tag }}

{%- liquid

  assign selected_collection = section.settings.collection | default: false
  assign selected_collection_products = selected_collection.products | default: false

-%}

{%  style %}
  #shopify-section-{{ section.id }} {
    padding_top: {{ section.settings.padding_top }}px;
    padding_bottom: {{ section.settings.padding_bottom }}px;
  }
  @media (min-width: 992px) {
    #shopify-section-{{ section.id }} {
      padding_top: {{ section.settings.padding_top }}px;
      padding_bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<div class="featured-collection__container" id="section--{{ section.id }}">
  {%- for product in selected_collection_products -%}
    {%- render "card-product", product: product -%}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Featured Collection",
  "tag": "section",
  "class": "section section--featured-collection featured-collection",
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "content": "Collection",
      "type": "header"
    },
    {
      "label": "Collection",
      "type": "collection",
      "id": "collection"
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "content": "Padding",
      "type": "header"
    },
    {
      "label": "Padding Top",
      "type": "range",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "default": 65,
      "id": "padding_top"
    },
    {
      "label": "Padding Bottom",
      "type": "range",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "default": 65,
      "id": "padding_bottom"
    }
  ],
  "presets": [
    {
      "name": "Featured Collection"
    }
  ]
}
{% endschema %}
